<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TP Météo</title>
    <style>
        body { font-family: sans-serif; margin: 20px; }
        .info-meteo { background: #f0f8ff; padding: 15px; border-radius: 8px; }
    </style>
</head>
<body>

    <h1>Météo : </h1> 
    <form action="/" method="GET">
        <input type="text" name="city" placeholder="Ville" list="stations-list" required> 
        <datalist id="stations-list">
            {% for station in stations %}
            <option value="{{ station }}">
            {% endfor %}
        </datalist>
        <input type="submit" value="Valider"> 
    </form>

    <hr>

     {% if data.location %}
        <div class="info-meteo">
            <h2>Météo à {{ data.location.name }}</h2> <p><strong>Température :</strong> {{ data.current.temperature }} degrés Celsius</p> <p><strong>Vitesse du vent :</strong> {{ data.current.wind_speed }} km/h</p> <p><strong>Précipitations :</strong> {{ data.current.precip }} mm</p> <p><em>Description : {{ data.current.weather_descriptions[0] }}</em></p>
            <img src="{{ data.current.weather_icons[0] }}" alt="Icône météo">
        </div>

{# Cas si aucune ville n'est trouvée ou au premier chargement #}
    {% else %}
        <p>Veuillez saisir une ville pour obtenir la météo.</p>
    {% endif %}

</body>
</html>